/* CSS du site en format site web bureau */

/* Général */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  color: #333;
  font-size: 1.6rem;
  line-height: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #012169;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: #c8102e;
  font-weight: bolder;
}

p {
  padding: 1rem 0;
}

span {
  font-weight: bold;
  color: #c8102e;
}

h1 {
  color: #012169;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
}

/* Class générique */
.gros-tiret {
  height: 0.8rem;
  width: 4.5rem;
  background-color: white;
  margin: 2rem 0;
}

/* Mise en page du body du site */

/* Main Container */
#main-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 15rem;
}

/* Section header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 7rem;
}

#titre {
  text-align: center;
}

#titre h1 {
  font-size: 2rem;
  color: #012169;
}

#titre h3 {
  font-size: 1.7rem;
  color: #c8102e;
  font-family: "Dancing Script", cursive;
}

#menu-site {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#menu-site li {
  margin-right: 7rem;
  font-size: 1.2rem;
}

/* Section Bannière */
#ban {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/ban-towerbridge.png) center center/cover;
  padding: 3rem 2rem;
}

.ban-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 40rem;
  color: white;
}

.ban-content h1 {
  color: white;
  font-family: "Open Sans", sans-serif;
}

/* Section expérience */
#statistiques {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.big-stat {
  font-size: 4.5rem;
  font-weight: bold;
  color: black;
  padding: 3rem 0;
}

.stat h1 {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 0.7rem;
}

/* Section Services */
#services {
  padding-top: 4rem;
}

/* Section Contact */
#contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 3rem;
}

#photo-profil {
  border-radius: 1rem;
  width: 40%;
}

#contact-content {
  padding-left: 3rem;
  flex: 1;
}
