/* Class générique */
h1 {
  text-align: center;
  line-height: 3rem;
}

p {
  text-align: center;
}

#main-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}

.titre-section {
  text-align: center;
}

/* header */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 1rem 0rem;
}

#titre h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
}

#titre h3 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

#menu-site {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0.7rem;
}

#menu-site li {
  margin-right: 0;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

/* expériences */
.statistiques {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* services */

#formules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presta {
  margin-bottom: 2rem;
}

/* contact */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#photo-profil {
  border-radius: 1rem;
  width: 20rem;
  margin: 0 auto 2rem;
}

#titre-covid {
  font-size: 2.1rem;
}
