/* CSS du site en format site web bureau */

/* Général */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  color: #333;
  font-size: 1.6rem;
  line-height: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #012169;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: #c8102e;
  font-weight: bolder;
}

p {
  padding: 1rem 0;
}

p span {
  font-weight: bold;
  color: #c8102e;
}

h1 {
  color: #012169;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
}

/* Class générique */
.gros-tiret {
  height: 0.8rem;
  width: 4.5rem;
  background-color: white;
  margin: 2rem 0;
}

.gros-tiret-bleu {
  height: 0.8rem;
  width: 4.5rem;
  background-color: #012169;
  margin: 3rem auto 1rem auto;
}

.titre-section {
  font-size: 4rem;
  padding-bottom: 1rem;
}

/* Mise en page du body du site */

/* Main Container */
#main-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 15rem;
}

@media (min-width: 576px) and (max-width: 1300px) {
  #main-container {
    padding: 2rem 5rem;
  }
}

/* Section header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0rem;
}

#titre {
  text-align: center;
  margin: 0 1rem;
  width: 18rem;
}

#titre h1 {
  font-size: 2rem;
  color: #012169;
}

#titre h3 {
  font-size: 1.7rem;
  color: #c8102e;
  font-family: "Dancing Script", cursive;
}

#menu-site {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 2rem;
  flex-wrap: wrap;
}

#menu-site li {
  font-size: 1.5rem;
  margin: 0.5rem 1rem;
}

/* Section Bannière */
#ban {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem;

  /* The image used */
  background-image: url(../img/ban-towerbridge.jpg);

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

}

.ban-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 40rem;
  color: white;
}

.ban-content h1 {
  color: white;
  font-family: "Open Sans", sans-serif;
}


/* Section expérience */

.statistiques {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  text-align: center;
  flex-wrap: wrap;
}

.big-stat {
  font-size: 4rem;
  font-weight: bold;
  color: black;
  padding: 3rem 0 1.5rem 0;
  line-height: 3.5rem;
}

.stat {
  margin: 0 1rem;
  transition: all .3s cubic-bezier(.67,-.51,.42,1.43);
}

.stat:hover {
  transition: transform .25s;
  transform: scale(1.10);
  cursor: pointer;
}

.stat h1 {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 0.7rem;
  text-transform: uppercase;
  line-height: 2.8rem;
}

/* Section Services */
#services {
  padding-top: 3rem;
}

#formules {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem 0 1rem 0;
}

.presta {
  border: #333 dotted 0.3rem;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0 1rem;
  transition: all .3s cubic-bezier(.67,-.51,.42,1.43);
}

.presta:hover {
  transition: transform .25s;
  transform: scale(1.10);
  cursor: pointer;
  background-color: #fcfcfc;
}

@media (max-width: 1000px) {
  #formules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .presta {
    margin-bottom: 1rem;
  }
}

.presta h1 {
  text-align: center;
}

.presta hr {
  margin-top: 1rem;
}

/* Section Contact */
#contact {
  padding-top: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 840px) {
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #photo-profil {
    margin-bottom: 1.5rem;
  }

  #contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#contact i {
  color: #c8102e;
  font-size: 2.5rem;
  padding-right: 1rem;
}

#photo-profil {
  border-radius: 2rem;
  margin-right: 2rem;
  width: 20rem;
}

#contact-content {
  padding-top: 1rem;
}

#contacts {
  padding-top: 2rem;
}

.ligne-contact {
  padding-bottom: 1rem;
}

/* Covid */
#covid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#titre-covid {
  border: #333 dotted 0.3rem;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

#titre-covid i {
  color: #c8102e;
  margin: 0 1rem;
}

#text-covid {
  margin-bottom: 2rem;
  text-align: center;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  font-style: italic;
  font-size: medium;
  background-color: #012169;
}
